<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assigment9</title>
     <link rel="stylesheet" href="static/cvStyle.css">
</head>
<body>
{% include('header.html') %}
     <h3> Search form</h3>
     <h4> insert an email address of the user you want to find</h4>
    <form method="GET" action="/assignment9">
    email: <input name="user_email" type=text" ><br><br>
    <input type="submit" value="search">
    </form>

    <h3>search result </h3>
    {% if user_email%}
    <h4> Hello {{ user_name }},  {{ user_email }} </h4>
    {% elif user_email==null and users %}
    <h4> no results found, here is the user list:</h4>
        <ul> {% for user,user_info in users.items() %}
        <li> {{user}} : {{ user_info }}</li>
        {% endfor%}
        </ul>
    {% endif %}

    <hr>
    {% if session.userName %}
      <h1> glad you're with us, {{ session.userName }}</h1>
       <button><a href="/logout">logout</a></button>

    {% else %}
     <h3> Registration form</h3>
    <form method="POST" action="/assignment9">
    user name:<input name="userName" type="text" ><br>
    <br>
    password: <input name="password" type=password" ><br>
     <br>
    <input type="submit" value="confirm">
    </form>
    {% endif %}


</body>
</html>