<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV-Bar Shvarzman </title>
    <link rel="stylesheet" href="static/cvStyle.css">
    <script src="CVFunctions.js"></script>
</head>
<body>

<h1> CV-Bar Shvarzman</h1>
<img src="static/pictures/me.jpeg" alt="Bar picture">
{%  block assigment8 %} {# define a block that we can to change #}
    <h2> about me:</h2>
    <h3> Education </h3>
    <p>
       Ben Gurion University (2018-current) <br>
       Faculty of Industrial Engineering and Management (information system major).<br>
       Msc student<br>
       Brenner High School, Kibbutz Brenner (2009-2013)<br>
       Field of study: Chemistry and Biotechnology.<br>
    </p>
    <h3> volunteering </h3>
    <p>
       Social Media Manager at she-codes organization (2021) <br>
       Responsible for the Java group.<br>
       Group management, Includes answering professional questions.<br>
    </p>

{% endblock %}

</body>
</html>